USE [master]
GO
/****** Object:  Database [StundenplanDB]    Script Date: 17.12.2025 18:55:08 ******/
CREATE DATABASE [StundenplanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StundenplanDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StundenplanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StundenplanDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StundenplanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StundenplanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StundenplanDB]
GO
/****** Object:  Table [dbo].[Klassen]    Script Date: 17.12.2025 18:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klassen](
	[KlasseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlasseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lehrer]    Script Date: 17.12.2025 18:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lehrer](
	[LehrerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LehrerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stundenplaneintraege]    Script Date: 17.12.2025 18:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stundenplaneintraege](
	[StundenplaneintragId] [int] IDENTITY(1,1) NOT NULL,
	[KlasseId] [int] NOT NULL,
	[LehrerId] [int] NOT NULL,
	[ZimmerId] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Uhrzeit] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StundenplaneintragId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zimmer]    Script Date: 17.12.2025 18:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zimmer](
	[ZimmerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZimmerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stundenplaneintraege]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Klasse] FOREIGN KEY([KlasseId])
REFERENCES [dbo].[Klassen] ([KlasseId])
GO
ALTER TABLE [dbo].[Stundenplaneintraege] CHECK CONSTRAINT [FK_Stundenplan_Klasse]
GO
ALTER TABLE [dbo].[Stundenplaneintraege]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Lehrer] FOREIGN KEY([LehrerId])
REFERENCES [dbo].[Lehrer] ([LehrerId])
GO
ALTER TABLE [dbo].[Stundenplaneintraege] CHECK CONSTRAINT [FK_Stundenplan_Lehrer]
GO
ALTER TABLE [dbo].[Stundenplaneintraege]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Zimmer] FOREIGN KEY([ZimmerId])
REFERENCES [dbo].[Zimmer] ([ZimmerId])
GO
ALTER TABLE [dbo].[Stundenplaneintraege] CHECK CONSTRAINT [FK_Stundenplan_Zimmer]
GO
USE [master]
GO
